.inputRow {
    display: flex;
    align-items: center;
    padding: 10px;
}

.formContainer {
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 20px;
    color: #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.formItem {
    flex: 3;
}

.formLabel {
    flex: 1;
}

.action {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.avatar {
    display: flex;
    justify-content: center;
}

.mandatory{
    color: red;
}

@media (max-width: 500px) {
    .inputRow {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
    .formLabel {
        margin-bottom: 10px;
    }
}
